@media only screen and (max-width:1200px) {
    #direct-help .row.direct-row {
        padding: 10px 150px !important;

    }
}

@media only screen and (max-width:1193px) and (min-width:937px) {
    #banner .col-md-7 {
        width: 50% !important;
    }
}


@media only screen and (max-width:936px) and (min-width:824px) {
    #banner .col-md-7 {
        width: 60% !important;
    }

    #banner .row {
        padding: 100px !important;
    }
}


@media only screen and (max-width:823px) and (min-width:640px) {
    #banner .col-md-7 {
        width: 71% !important;
    }

    #banner .row {
        padding: 85px !important;
    }
}

@media only screen and (max-width:639px) {
    #banner .col-md-7 {
        width: 100% !important;
    }

    #banner .row {
        padding: 70px !important;
    }
}


@media only screen and (max-width:991px) {
    #donation .row {
        flex-direction: column-reverse;
    }

    #donation .row .col-md-6 {
        width: 80% !important;
    }

    #donation .col-md-6.left {
        padding-right: 0 !important;
    }

    #donation .right .custom {
        padding-left: 0 !important;
        width: 100%;
    }


    #suvive .row {
        flex-direction: column;
    }

    #suvive .row .col-md-6 {
        width: 80% !important;
    }

    #suvive .right .custom {
        padding-left: 0 !important;
    }

    #suvive .left img {
        width: 100% !important;
    }

    #direct-help .main .custom {
        width: 71% !important;
    }

    #direct-help .row.direct-row {
        padding: 10px 100px !important;

    }

    #charity .main .custom {
        width: 75% !important;
        text-align: center;
    }

}


@media only screen and (max-width:850px) {
    #direct-help .main .custom {
        width: 71% !important;
    }

    #direct-help .row.direct-row {
        padding: 0 60px !important;
        flex-direction: column;
    }

    #direct-help .direct-row .col-md-6 {
        width: 80% !important;
        margin: auto;
    }

    #direct-help .direct-row .col-md-6 {
        width: 100% !important;
        margin-bottom: 20px;
    }

}



@media only screen and (max-width:788px) {

    /* .col-md-6 {
        width: 90% !important;
    }

    #donation .row .col-md-6 {
        width: 90% !important;
    } */

    #charity .card-row {
        flex-direction: column;
    }

    #direct-help .direct-row .col-md-6 {
        width: 80% !important;
        margin-bottom: 20px;
    }

    #charity .card-row .col-md-4 {
        width: 100% !important;
        padding-bottom: 20px;
    }

    #charity .card-row {
        padding: 80px 50px !important;
    }
}

@media only screen and (max-width:610px) {
    #prayer .row {
        padding: 45px 60px !important;
        flex-direction: column;
    }

    #prayer .col-md-4 {
        width: 100% !important;
        padding-bottom: 20px;
        object-fit: cover;
    }


}

@media only screen and (max-width:556px) {

    h2 {
        font-size: 30px !important;
    }

    #banner .row {
        padding: 70px 16px !important;
    }

    #donation .row .col-md-6 {
        width: 90% !important;
    }

    #suvive {
        padding: 10px 0 !important;
    }

    #suvive .row .col-md-6 {
        width: 90% !important;
    }

    #direct-help .main .custom {
        width: 88% !important;
    }

    #direct-help .row.direct-row {
        padding: 0 !important;
    }

    #direct-help .col-md-10 {
        padding-left: 12px !important;
    }

    #prayer .row {
        padding: 20px 16px !important;
    }

    #charity .main .custom {
        width: 90% !important;
    }

    #charity .card-row {
        padding: 30px 16px !important;
    }

}