.inter {
    font-family: 'Inter', sans-serif;
}

.poppins {
    font-family: 'Poppins', sans-serif;
}

.lobster {
    font-family: 'Lobster', cursive;

}

.manrope {
    font-family: 'Manrope', sans-serif;
}

* {
    box-sizing: border-box;

}

body {
    margin: 0;
    padding: 0;
}

#banner {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.87), rgba(255, 255, 255, 0)), url("../images/banner.png");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

#banner .row {
    padding: 135px;
}

#banner p {
    color: white;
}

h2 {
    font-size: 42px;
}

p {
    color: #707070;
}


#banner .col-md-7 {
    width: 36%;
}

.inter.btn {
    text-decoration: none;
    background: #EF233C;
    color: white;
    padding: 8px 14px;
    border-radius: 5px;
    font-size: 14px;
    display: inline-block;
    margin-top: 12px;
}

#donation {
    padding: 40px 0;
}

#donation .row {
    display: flex;
    justify-content: center;
    align-items: center;
}

#donation .row .col-md-6 {
    width: 40%;
}

#donation .col-md-6.left {
    padding-right: 60px;
}

#donation .right {
    display: flex;
    align-items: center;
    justify-content: center;
}

#donation .right .custom {
    padding-left: 60px;
}

video {
    width: 100%;
    height: auto;
}

#suvive {
    padding: 40px 0;
}

#suvive .row {
    display: flex;
    justify-content: center;
    align-items: center;
}

#suvive .row .col-md-6 {
    width: 40%;
}

#suvive .left img {
    /* max-width: 100%; */
    width: 85%;
}

#suvive .right .custom {
    padding-left: 60px;
}

#direct-help .main {
    display: flex;
    justify-content: center;
    align-items: center;
}

#direct-help .main p {
    margin-bottom: 30px;
}

.main {
    text-align: center;
}

#direct-help .main .custom {
    width: 40%;
    text-align: center;
}

#direct-help .row.direct-row {
    padding: 10px 200px;
    display: flex;
    justify-content: space-between;
    text-align: justify;
}

#direct-help .direct-row .col-md-6 {
    width: 49%;
}

#direct-help .direct-row .row {
    display: flex;
    padding: 30px;
}

#direct-help h4 {
    margin-top: 0;
    margin-bottom: 5px;
}

#direct-help p {
    margin-bottom: 0;
}

#direct-help .col-md-2 {
    width: 20%;
}

#direct-help .box-left .custom {
    display: flex;
    justify-content: center;

}

#direct-help .col-md-10 {
    width: 80%;
}

.box {
    background-color: #FEF4F5;
    border-radius: 10px;
}

#prayer .row {
    display: flex;
    padding: 80px 100px;
    justify-content: space-between;
}

#prayer .col-md-4 {
    width: 32.33%;
}

#prayer .col-md-4 img {
    width: 100%;
}

#charity .main {
    display: flex;
    justify-content: center;
    align-items: center;
}

#charity .main .custom {
    width: 52%;
    text-align: center;
}


#charity .card-row {
    display: flex;
    padding: 80px 100px;
    justify-content: space-between;
}

#charity .text-box {
    padding: 30px;
    padding-bottom: 35px;
    text-align: justify;
}

#charity .card-row h4 {
    margin: 0;

}

#charity .card-row p {
    margin: 10px 0 20px;

}

#charity .card-row a {
    color: #EF233C;
    font-weight: 600;
}



#charity .card-row .col-md-4 {
    width: 32.33%;
}

#charity .card-row .col-md-4 .custom {
    border: 1px solid #D9D9D9 !important;
    border-radius: 10px;

}

#charity .card-row .col-md-4 img {
    width: 100%;

}

footer {
    background-color: black;
    padding: 50px 0;
}

footer h1 {
    color: #EF233C;
    margin-top: 0;
}

footer p {
    color: #D9DBE1;
    margin-bottom: 0;
}

footer .row {
    display: flex;
    justify-content: center;
}

footer .row .custom {
    text-align: center;

}